<h1>Edit Post</h1>

<form action="/posts/<%= post.id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="post[title]" placeholder="Title" value="<%= post.title%>"></div>
    <div><input type="text" name="post[price]" placeholder="Price" value="<%= post.price%>"></div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name="images" multiple>
        <div>
        <% post.images.forEach((image,i)=>{ %>
            <img src="<%= image.url %>" width="100px">
            <label for="image<%= i %>">Delete</label>
            <input type="checkbox" name="deleteImages[]" id="image<%= i %>" class="imageDeleteCheckbox" value="<%= image.public_id%>">
        <% }); %>
        </div>
    </div>
    <div><textarea name="post[description]" cols="30" rows="10" placeholder="Description"><%= post.description%></textarea></div>
    <div><input name="post[location]" type="text" placeholder="Location" value="<%= post.location%>"></div>
    <input type="submit">
</form>
<script>
//find the post edit form
    let postEditForm = document.getElementById('postEditForm');
//add submit listener to post edit form
    postEditForm.addEventListener('submit', (event)=>{
        // find length of uploading images
        let imageUpload = document.getElementById('imageUpload').files.length;
        // find total number of existing images
        let existingImgs = document.querySelectorAll('.imageDeleteCheckbox').length;
        //find number of potential deleting images
        let imgDelete = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
        // check the math of how many images need to be deleted to be able to submit (cap=4)
        let newTotal = existingImgs-imgDelete+imageUpload;
        if(newTotal >4){
            event.preventDefault();
            let removeAmount = newTotal-4;
            alert(`You need to remove at least ${removeAmount} more image${removeAmount===1?' ': 's'}`)
        };
    });
</script>